<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1" connectionString="data source=192.168.5.1;initial catalog=cms2_Beta1;user id=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=192.168.5.1;initial catalog=cms2_Beta1;user id=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>